*{
    margin: 0%;
    padding: 0%;
}


 body {
    background-image: url(https://img.freepik.com/premium-photo/beautiful-sunset-river_926199-46110.jpg?size=626&ext=jpg&ga=GA1.1.427124486.1694131718&semt=sph); 
    background-size:auto; 
    
    background-color: red;
    background-size: 100% 740px; 
   
}

.contant{
    width: 300px;
    height: 400;
    /* background-color: black; */
    font-size: 100;
    margin-left: 36%;
    margin-top: 6%;
    text-align: center;
    color: white;
}


h3{
    font-size: 36px;
    color: white;
}
.contant, text{
    position: relative 7%;
    top: 7%
}

.input1{
    border: none;
    /* background-color: black; */
    border-bottom: 3px solid black;
    width: 250px;
    font-size: 15px;
    margin-top: 20%;
    outline: none;
    color: black;

}

.input2{
    border: black;
    /* background-color: black; */
    border-bottom: 3px solid black;
    width: 250px;
    font-size: 15px;
    margin-top: 20%;
    outline: none;
    color: none;

}
.text button{
    width: 250px;
    height: 44px;
    background-color: aqua;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 30px;
}
button{
    border: 30px solid aqua;
    color: black;
    font-size: 20px;
    background-color: wite;



}


p {

    margin-top: 30px;
    font-size: 20px;
}

p span{

    color: aqua;
}